@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Kenia&display=swap');

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* HEADER Y SUS ELEMENTOS */

header *{
    font-family: 'Kenia', cursive;
}
.logo-container{
    text-align: center;
    width: 15vw;
    font-size: x-large;
}

@media (max-width: 600px ){
    .logo-container{
        width: 40vw;
    }
}

.logo-container > a{
    margin: 0;
    font-size: 1.5rem;
    text-decoration: none;
}

.logo-container > a:hover{
    color: #585858;
}
.logo-container > a:visited , .logo-container>a:link{
    color:black;
    text-decoration: none;
}
.logo-container>a:visited{
    color: black;
}
.logo-container>a >span{
    color: darkred;
}


.header-links > li > a , .header-links > li > a:visited , .header-links > li > a:link{
    text-decoration: none;
    color: white;
    opacity: .7;
    font-size: large;
}
.header-links > li > a:hover{
    color: grey;
}
.header-links > li > img{
    margin-right: 1.5rem;
}




#hamburguer-btn{
    background-color: #000000;
    padding: 0 10px;
}

/* MAIN Y SUS ELEMENTOS */

.pageBackground{
    background-size: cover;
    position: relative;
    height: auto;
    width: 100%;
}

#indexBG{
    background-image: url("../img/blackBelt.jpg");
    filter: brightness(50%);
    background-size: cover;
    height: 100vh;
    
}

#indexBG > h1{
    position:absolute;
    z-index: 1;
    top: 12vh;
    left: 10vh;
    color: black;
    filter: brightness(100%);
}

@media (max-width:480px){
    #indexBG > h1{
        right: 1vw;
    }
}

#productsBG{
    /* background-image: url("../img/taek2.jpg"); */
    background-color: #1d1d1d;
    background-size: cover;
}

/* --------------CATALOGUE--------------*/


.cat-navbar>li>a , .cat-navbar>li>a:visited {
    color: #FFFFFF;
}

aside{
    position: fixed;
    left: 0;
    height: 50vh;
}

aside>ul{
    height: 36vh;
}

aside>ul>li>a ,aside>ul>li>a:visited {
    color:#FFFFFF;
}

aside>ul>li>.nav-link:hover{
    color: gray;
    text-decoration: none;
}


section>hr{
    border: white 1px solid;
    width: 50%;
    margin: auto;
}



.card{
    height: 50vh;
}

.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 1.5rem;
}

.category-title{
    background-color: #000000;
    border: 1px solid #FFFFFF;
    height: 2rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.img-fluid{
    border: rgba(255,255,255,.5) 1px solid;
    border-radius: 15%;
}

.product-category:hover >a > .category-img-container > img{
    transform: scale(1.2);
    transition: all .2s .2s;
}

.catalogue-card{
    height: 60%;

}
.ratings{
    margin-right:10px;
}

.ratings i{
    
    color:#cecece;
}

.rating-color{
    color:#fbc634 !important;
}


/* --------------PRODUCTS--------------*/

.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}

.products-cards{
    padding-top: 10vh;
    display: flex;
}

.product-card{
    display: flex;
}

.product-img-container{
    background-color: #000000;
    width: 15vw;
    height: 32vh;
    border-radius: 25%;
    position: relative;
    left: 10%;
}

.product-img-container > img{
    height: -webkit-fill-available;
    position: absolute;
    left: 10%;
    border-radius: 40%;
}
.product-info-container{
    background-color: #FFFFFF;
    display: flex;
    width: 12rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product-info-container > *{
    padding-left: 1vw;
    font-size: 1.1rem;
}

.verDetalle-btn{
    margin: 0;
    text-align: center;
    margin-top: 16px;
}

.verDetalle-btn > a{
    padding: 10px;
    text-decoration: none;
    background-color: #000000;
    color: #FFFFFF;
    
}

.verDetalle-btn > a:hover{
    color: gray;
}



/* --------------PRODUCT--------------*/

.product-detailed{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.product-detailed > img{
    height: 60vh;
}

.detailed-info-container{
    background-color: white;
    height: 60vh;
    width: 40vw;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.detailed-info-container > p{
    padding-left: 3%;
}


.detailed-encargo{
    padding-top: 0;
}
.talla{
    display: flex;
    justify-content: center;
    align-items: center;
}
.talla > input{
    height: 2vh;
    width: auto;
}

.botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.botones > div{
    background-color: #D9D9D9;
    height: 5vh;
    width: 10vw;
    padding: 10px;
    text-align: center;
    border-radius: 50%;

}

.botones > div > a{
    text-decoration: none;
    color: #000000;
}

.botones > div >a:hover{
    color:#585858;
}


/* --------------ABOUT US--------------*/


.about-us-img{
    height: 50vh;
    filter: brightness(0.5);
}

.aboutUs-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1% ;
}

.aboutUs-info{
    margin: 10% 3%;
    background-color: rgb(217,217,217,0.4);
}

.aboutUs-info > p{
    font-size: 1.2rem;
}



/* FOOTER */

footer{
    background-color: #2C2A2A ;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-top{
    padding-top: 2vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.line{
    height: 1px;
    background-color: white;
    width: 25%;
}
.socials{
    width: 25%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}
.socials > a > i{
    color: white;
}

.footer-bottom{
    text-align: center;
}
.footer-bottom > p{
    margin:0;
    color: white;
}
.footer-bottom > p >span{
    color: darkred;
}
.footer-mastore{
    font-size: 2rem;
}
#copyright{
    font-family: 'Iceland', cursive;

}


