.aboutUs-container{
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    background-image: url("../img/taek2.jpg");
    background-size: cover;

    padding-top: 15px;
   
    img{
        border-radius: 0 10% 10% 0;
        max-height: 90%;
        max-width: 90%;
        padding: 0 30px;

    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(10px);
        margin-left: 30px;

        h1{
            color: $auburn;
            font-family: $title-fonts;
        }
        p{
            color: white;
        }

        
    }
}

