*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

// Variables

$title-fonts: 'Kenia', cursive;
$night: #0a100dff;
$ash-gray: #b9baa3ff;
$timberwolf: #d6d5c9ff;
$auburn: #a22c29ff;
$burnt-umber: #902923ff;